@import "/src/styles.scss";

div {
  background-color: $azul-claro;

  h1 {
    text-align: center;
    padding: 2rem;
    border-radius: 15px;
    background-color: $azul-escuro;
    color: white;
  }
}
